<form>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->

        <p>
          Search:
          <input placeholder="Enter studentId. Ex: s1234" ng-model="$ctrl.query" />
        </p>

      </div>
      <div class="col-md-10">
        <div class="students">
          <div  class="thumbnail student-list-item">
            <md-radio-group ng-model="selectedStudentId">
              <md-radio-button value="{{student.studentId}}" ng-repeat="student in $ctrl.students | filter:$ctrl.query track by $index" ng-click="selectStudent(student)">{{student.name}}</md-radio-button>
            </md-radio-group>
          <md-button ng-click="submitSelection()" ng-disabled="!selectedStudentId">Submit</md-button>
        </div>
      </div>
    </div>
  </div>
</form>